Debug/
Release/
.vs/
packages/
VectorTest/
edupt/
AMPtest/
*.ppm

CornellBoxRenderer/*
!CornellBoxRenderer/*.hpp
!CornellBoxRenderer/*.cpp
!CornellBoxRenderer/*.vcxproj
!CornellBoxRenderer/*.filters

VectorTest/*.user
