Debug/
Release/
.vs/
packages/
VectorTest/
edupt/
cornell_box.ppm

CornellBoxRenderer/*
!CornellBoxRenderer/*.hpp
!CornellBoxRenderer/*.cpp
!CornellBoxRenderer/*.vcxproj
!CornellBoxRenderer/*.filters

VectorTest/*.user
